flask==2.3.2
gevent==1.4.0
uWSGI==2.0.18
voluptuous==0.11.5
pytest-flask==0.15.0
requests==2.22.0
attrdict==2.0.1
vcpy==0.0.1
git+git://github.com/docknetwork/cert-verifier.git#egg=cert-verifier
git+git://github.com/docknetwork/cert-core.git#egg=cert-core
Werkzeug==0.16.1