flask==1.0.1
gevent==1.4.0
uWSGI==2.0.18
voluptuous==0.11.5
pytest-flask==0.15.0
requests==2.22.0
attrdict==2.0.1

# TOOLS:
cert-core>=2.1.9
cert-schema>=2.1.5
configargparse>=0.13.0
jsonpath-rw>=1.4.0
pycoin==0.80
tox>=3.0.0
pytest==5.1.1
attrdict==2.0.1

# ISSUER:
cert-core>=2.1.9
cert-schema>=2.1.5
chainpoint>=0.0.2
glob2==0.6
mock==2.0.0
requests[security]>=2.18.4
pyld>=1.0.3
pysha3>=1.0.2
python-bitcoinlib>=0.10.1
tox>=3.0.0
web3==5.0.2

# ETHEREUM:
coincurve==7.1.0
ethereum==2.3.1
rlp<1

